# Не копировать зависимости с хост-машины, они будут установлены внутри контейнера
node_modules

# Не копировать скомпилированный код, он будет собран внутри контейнера
dist

# Не копировать локальные переменные
.env

# Не копировать файлы Git
.git